	#tasks
			{
				position: absolute;
				min-height: 299;
				height: auto;
				//overflow:auto;
				width: 400px;
				top: 200px;
				right:155px;
				border:solid 1px red;
				//right: 40px;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				box-shadow: 10px 10px 15px rgb(12,141,213);
				width: 600px;
				//height: auto;
				//color: blue;
				border: 7px #372BC2 outset;

				background-color: #D7F7FA;

				padding: 8px;

				font-family: Verdana, Geneva, sans-serif;
				
				text-align: left;
				font-size: 9px;

				line-height: 1.65;
				letter-spacing: 0em;
				word-spacing: 3px;

				-webkit-border-radius: 27px 27px 27px 27px;
				-moz-border-radius: 27px 27px 27px 27px;
				border-radius: 27px 27px 27px 27px;


				-moz-box-shadow: 4px -6px 0px 6px rgba(204, 204, 204, 0.5);
				-webkit-box-shadow: 4px -6px 0px 6px rgba(204, 204, 204, 0.5);
				box-shadow: 4px -6px 0px 6px rgba(204, 204, 204, 0.5);

				transform:scale(1);
				-ms-transform:scale(1);
				-moz-transform:scale(1);
				-webkit-transform:scale(1);
				-o-transform:scale(1);
				font-family:Comic Sans MS;
			}
			
		#addtask
			{
				resize:none; 
				margin:auto;
					border-top-left-radius:16px;
				//box-shadow: 10px 10px 15px rgb(12,141,213);
			}
			
		#addtask:active
			{
				resize:none; 
				margin:auto;
				border-top-left-radius:16px;
				//border-top-right-radius:16px;
				outline-color:white;
			}
			
		#addtask:focus
			{
				resize:none; 
				margin:auto;
				border-top-left-radius:16px;
			//	border-top-right-radius:16px;
				outline-color:#d0e4fe;
				
			}
			
		#priority
			{	
				//width:200px;
				//height:-150px;
				border:solid 1px;
				position: absolute;
				top: 191px;
				left: 389px;
				//border-bottom-right-radius:16px;
				border-top-right-radius:16px;
				height:82px;
				//box-shadow: 1px 1px 15px rgb(12,141,213);
				background:#D7F7FA;
				border-color: navy;
			}
			
		#editbut
			{    
				position: absolute;
				top: 141px;
				right:330px;
				height: 33px;
				width: 300px;
				font-face: 'Comic Sans MS';
				font-size: larger; color: red; 
				background-color: navy;
				border: 3pt ridge lightgrey;
				border-bottom-right-radius:12px;
				border-bottom-left-radius:12px;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				
			}
			
		#nexttask
			{
			
				position: absolute;
				left 550px;
				background:white;;
				border-bottom-left-radius:16px;
				border-bottom-right-radius:16px;
				height:45px;
				width:543px;
				margine:auto;
				outline:#057BA6;
				box-shadow: 10px 10px 15px rgb(12,141,213);
				background-color: blue;
				border-color:#057BA6;
				border: 5px;
				
			}
			
		#nexttask:hover
			{
				position: absolute;
				left 550px;
				background:white;;
				border-bottom-left-radius:16px;
				border-bottom-right-radius:16px;
				height:45px;
				width:543px;
				margine:auto;
				outline:black;
				box-shadow: 10px 10px 15px rgb(12,141,213);
				background-color: white;
				color:black;
				font-weight:bold;
				
			}
			
		#hello 
			{
				color: purple;
			}
			
		body 
			{
				background-color:#d0e4fe;
			}
			
		#add_task
			{
				color:navy;
			}
			
		#leave_blank_line
			{
				color:grey;
			}
			
		#save_your_tasks
			{
				float-left:80px;
			}
			
		#logout
			{
				position: absolute;
				right: 13px;
				width: 164px;
				border-top-right-radius:12px;
				border-top-left-radius:12px;
				outline-color:#d0e4fe;
				background-color: navy;
			}
			
		user
			{
				color:red;
			}
			
		#logoutdiv
			{
				display:none;
				border solid 1px; 
				height: 200px;
				width: 160px;
				//background: silver;
				position: absolute;
				top:155px;
				right: 15px;
				border-bottom-left-radius:12px;
				border-bottom-right-radius:12px;
				outline-color: navy;
				margin:auto;
			}
			
		#MakeLogOut
			{
				position: relative;
				//right: 2px;
				width: 161px;
				height: 55px;
				border-bottom-right-radius:12px;
				border-bottom-left-radius:12px;
				outline-color:#d0e4fe;
				background-color: navy;
				color: red;
				font-size:18px;
				padding:25px;
			}
		#time_submit_butt
			{
				position: absolute;
				top: 40px;
				left: 160px;
				width: 75px;
				height:35px;
				border-bottom-left-radius:8px;
				border-bottom-right-radius:9px;
				border-top-right-radius:9px;
				border-top-right-radius:7px;
				background-color: navy;
				color: red;
				font-size:17px;
			}
		#marquee
			{
				/*//background-color:#00FFFF;
				border-width:2px; 
				border-style:none; 
				border-color:#000099; 
				font-family:comic sans ms; 
				font-size:16pt; 
				text-color:navy;
				direction="left" behavior="scroll" scrollamount="1"
				color: navy;*/
			}
		task	
			{	
				text-shadow:-2px 0px 14px rgba(250,250,250,0.2);
				font-weight:normal;
				color:#4628BF;
				background-color:#E6EDE9;
				letter-spacing:0pt;
				word-spacing:2pt;
				font-size:12px;
				text-align:left;
				font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
				line-height:2;
			}
		cu
			{
				color: blue;
			}
		cst
			{
				color: red;
			}
		#cu_reclam
			{
				 background: blue; //-webkit-linear-gradient(90deg, rgba(8, 143, 30, 0.07) 5%, rgba(213, 219, 178, 0.89) 100%);
				color: navy;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				font-size:60px;
				font-family: ABeeZee;
				direction="left" behavior="scroll" scrollamount="3"
			}
		
		.TaskReviewButton
			{
				position: absolute;
				right: 180px;
				bottom: 130px;
			}
		
		.TaskReviewButton
			{
				-moz-box-shadow:inset -39px -3px 8px -35px #cae3fc;
				-webkit-box-shadow:inset -39px -3px 8px -35px #cae3fc;
				box-shadow:inset -39px -3px 8px -35px #cae3fc;
				background-color:#074b8f;
				-webkit-border-top-left-radius:40px;
				-moz-border-radius-topleft:40px;
				border-top-left-radius:40px;
				-webkit-border-top-right-radius:40px;
				-moz-border-radius-topright:40px;
				border-top-right-radius:40px;
				-webkit-border-bottom-right-radius:40px;
				-moz-border-radius-bottomright:40px;
				border-bottom-right-radius:40px;
				-webkit-border-bottom-left-radius:40px;
				-moz-border-radius-bottomleft:40px;
				border-bottom-left-radius:40px;
				text-indent:-0.86px;
				border:5px solid #469df5;
				display:inline-block;
				color:#ffffff;
				font-family:Comic Sans MS;
				font-size:16px;
				font-weight:normal;
				font-style:normal;
				height:33px;
				line-height:33px;
				width:84px;
				text-decoration:none;
				text-align:center;
				text-shadow:0px 2px 4px #287ace;
			}
			.TaskReviewButton:hover
			{
				background-color:#4197ee;
			}
			.TaskReviewButton:active
			{
				position:relative;
				top:1px;
			}
			
			.NextButton 
			{
				position:absolute;
				right:190px;
				top: 141px;;
				-moz-box-shadow:inset 26px 24px 47px -41px #fce2c1;
				-webkit-box-shadow:inset 26px 24px 47px -41px #fce2c1;
				box-shadow:inset 26px 24px 47px -41px #fce2c1;
				background-color:#102294;
				-webkit-border-top-left-radius:42px;
				-moz-border-radius-topleft:42px;
				border-top-left-radius:42px;
				-webkit-border-top-right-radius:42px;
				-moz-border-radius-topright:42px;
				border-top-right-radius:42px;
				-webkit-border-bottom-right-radius:42px;
				-moz-border-radius-bottomright:42px;
				border-bottom-right-radius:42px;
				-webkit-border-bottom-left-radius:42px;
				-moz-border-radius-bottomleft:42px;
				border-bottom-left-radius:42px;
				text-indent:1.72px;
				border:4px solid #51ceed;
				display:inline-block;
				color:#f7e200;
				font-family:Comic Sans MS;
				font-size:16px;
				font-weight:normal;
				font-style:normal;
				height:30px;
				line-height:30px;
				width:63px;
				text-decoration:none;
				text-align:center;
				text-shadow:0px 0px 4px #cc9f52;
				
			}
			.NextButton:hover
			{
				background-color:#fcfcfc;
			}
			/* ********* when button is active can't response the request. link do not working.
			.NextButton:active 
			{
				position:relative;
				top:1px;
			}*/
			.Back_butt 
			{	
				position: absolute;
				top:141px;
				right:260px;
				font-size: 16px;
				font-family:Comic Sans MS;
				font-weight:normal;
				-moz-border-radius: 19px;
				-webkit-border-radius: 19px;
				border-radius: 19px;
				border: 3px solid #3866A3;
				padding: 6px 14px;
				text-shadow:4px 2px 5px #5E5E5E;
				-moz-box-shadow:inset -2px -2px 13px 9px #BEE2F9;
				-webkit-box-shadow:inset -2px -2px 13px 9px #BEE2F9;
				box-shadow:inset -2px -2px 13px 9px #BEE2F9;
				font-weight:normal;
				text-decoration:none;
				cursor: pointer;
				background:-webkit-linear-gradient(275deg, rgba(70, 140, 207, 0.73) 42%, rgba(99, 184, 238, 0.73) 67%);
				background:-moz-linear-gradient(275deg, rgba(70, 140, 207, 0.73) 42%, rgba(99, 184, 238, 0.73) 67%);
				background:-ms-linear-gradient(275deg, rgba(70, 140, 207, 0.73) 42%, rgba(99, 184, 238, 0.73) 67%);
				background:linear-gradient(365deg, rgba(99, 184, 238, 0.73) 42%, rgba(70, 140, 207, 0.73) 67%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
				/*background-color:rgba(70, 140, 207, 0.73);*/
				color:#FFFFFF;
				display:inline-block;
			}
			.Back_butt:hover
			{
				background:-webkit-linear-gradient(275deg, rgba(99, 184, 238, 0.73) 42%, rgba(70, 140, 207, 0.73) 67%);
				background:-moz-linear-gradient(275deg, rgba(99, 184, 238, 0.73) 42%, rgba(70, 140, 207, 0.73) 67%);
				background:-ms-linear-gradient(275deg, rgba(99, 184, 238, 0.73) 42%, rgba(70, 140, 207, 0.73) 67%);
				background:linear-gradient(365deg, rgba(70, 140, 207, 0.73) 42%, rgba(99, 184, 238, 0.73) 67%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
				/*background-color:rgba(99, 184, 238, 0.73);*/
			}
			/*.css_button:active {
				position:relative;
				top:1px;
			}*/
			.rotate 
			{	
				font-weight:normal;
				font-style:normal;
				background-color: navy;
				font-family: comic sans MS;
				font-size: 15px;
				position: absolute;
				border-top-right-radius:8px;
				border-top-left-radius:8px;
				left:1136px;
				top:289px;
				width:170px;
				color:red;position:absolute;right:0px;
				/* Safari */
				-webkit-transform: rotate(90deg);

				/* Firefox */
				-moz-transform: rotate(90deg);

				/* IE */
				-ms-transform: rotate(90deg);

				/* Opera */
				-o-transform: rotate(90deg);

				/* Internet Explorer */
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			}
		#task_table_id
			{
				color: navy;
			}
		#date_table_id
			{
				width:120px;
				color: silver;
			}	
	
	
	
	/*********I have been updated the CSS code******this one is old******
	#logout
			{
				
			}
		#logoutdiv
			{	
				display:none;
				border solid 1px; 
				height: 200px;
				width: 161px;
				background: silver;
				position: absolute;
				top:67px;
				right: 15px;
				border-bottom-left-radius:12px;
				border-bottom-right-radius:12px;
				outline-color: navy;
				margin:auto;
			}
		
		#hello 
			{
				color: purple;
			}
		body 
			{
				background-color:#d0e4fe;
			}
		#add_task
			{
				color:navy;
			}
		#leave_blank_line
			{
				color:grey;
			}
		#save_your_tasks
			{
				float-left:80px;
			}
		#logout
			{
				position: absolute;
				right: 13px;
				
				width: 164px;
				border-top-right-radius:12px;
				border-top-left-radius:12px;
				outline-color:#d0e4fe;
				background-color: navy;
			}
			
		#textarea
			{
				position: absolute;
				right: 120px;
				top: 300px;
				border:solid 1px;
				width:550px;
				height:470px;
				border-radius:16px;
				position:relative;
				left:600px;
				top:-200px;
				background:green;
				box-shadow: 10px 10px 15px rgb(12,141,213);
				background:"ToDo-list.png";
			}
			
		#tasks
			{
				background:rgb(111,111,111	);
				font: normal 14px verdana;
				padding: 2px 10px;
				border-bottom: 1px dotted #ccc;
				text-indent: 25px;
				height: auto;
				text-transform: capitalize;
				resize:none; 
				border-radius:12px;			
				width:500px;
				height:400px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40;
			}
		
		#tasks:focus
			{
				background:white;
				font: normal 14px verdana;
				padding: 2px 10px;
				border-bottom: 1px dotted #ccc;
				text-indent: 25px;
				height: auto;
				text-transform: capitalize;
				resize:none; 
				border-radius:12px;			
				width:500px;
				height:400px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40;
			}
		
		#tasks:active
			{
				background:red;
				font: normal 14px verdana;
				padding: 2px 10px;
				border-bottom: 1px dotted #ccc;
				text-indent: 25px;
				height: auto;
				text-transform: capitalize;
				resize:none; 
				border-radius:12px;			
				width:500px;
				height:400px;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40;
			}
		
		#aroundtextarea
			{
				position: absoulte;
				height: 600px;
				width: 400px;
				border:solid 1px red;
				right: 30px;
			}
		
		#addtask
			{
				
				resize:none; 
				margin:auto;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				box-shadow: 10px 10px 15px rgb(12,141,213);
			}
		
		#addtask:active
			{
				resize:none; 
				margin:auto;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				outline-color:white;
			}
		
		#addtask:focus
			{
				resize:none; 
				margin:auto;
				border-top-left-radius:16px;
				border-top-right-radius:16px;
				outline-color:#d0e4fe;
				
			}
		
		#nexttask 
			{
				position: absolute;
				left 550px;
				background:white;;
				border-bottom-left-radius:16px;
				border-bottom-right-radius:16px;
				height:45px;
				width:501px;
				margine:auto;
				outline:black;
				box-shadow: 10px 10px 15px rgb(12,141,213);
				background-color: green;
				
			}
		
		#editbut
			{
				font-face: 'Comic Sans MS';
				font-size: larger; color: red; 
				background-color: navy;
				border: 3pt ridge lightgrey;
				border-bottom-left-radius:8px;
				border-bottom-right-radius:12px;
				border-top-right-radius:8px;
				border-top-left-radius:12px;
			}
		
		user
			{
				color:red;
			}
		
		#editdiv
			{
				
			}*/